<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置在typeAliases上面 -->
	<settings>
		<!-- 开启懒加载 -->
	 	<setting name="lazyLoadingEnabled" value="true"/> 
 		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>

	<!-- 别名，注意要在写在environments的上面 -->
	<typeAliases>
		<typeAlias alias="MidUser" type="com.pgw.pojo.MidUser" />
		<typeAlias alias="MidUserBuss" type="com.pgw.pojo.MidUserBuss" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<!-- mybaits中的事务处理配置 -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/mimessage" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/pgw/mapping/miduser.map.xml" />
	</mappers>
</configuration>